<?xml version="1.0"?>
<config>
	<modules>
		<IWD_All>
			<version>2.2.4</version>
		</IWD_All>
	</modules>
<!-- 2024-02-18 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Prevent `IWD_All` from spamming the Magento's backend": https://github.com/thehcginstitute-com/m1/issues/370 -->
	<adminhtml>
		<translate>
			<modules>
				<IWD_All>
					<files>
						<default>IWD_All.csv</default>
					</files>
				</IWD_All>
			</modules>
		</translate>
<!-- 2024-02-18 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Prevent `IWD_All` from spamming the Magento's backend": https://github.com/thehcginstitute-com/m1/issues/370 -->
	</adminhtml>
	<global>
		<models>
<!-- 2024-02-04 Dmitrii Fediuk https://upwork.com/fl/mage2pro
1) "Delete the unused `Mage_Paygate` module": https://github.com/thehcginstitute-com/m1/issues/354
2) "Delete the unused `Mage_Authorizenet` module": https://github.com/thehcginstitute-com/m1/issues/352
3) "Delete the unused `Mage_Paypal` module": https://github.com/thehcginstitute-com/m1/issues/356
4) "Delete the Braintree support from IWD modules": https://github.com/thehcginstitute-com/m1/issues/360
2024-02-18 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Prevent `IWD_All` from spamming the Magento's backend": https://github.com/thehcginstitute-com/m1/issues/370 -->
		</models>
<!-- 2024-02-18 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Prevent `IWD_All` from spamming the Magento's backend": https://github.com/thehcginstitute-com/m1/issues/370 -->
		<helpers>
			<iwdall>
				<class>IWD_All_Helper</class>
			</iwdall>
		</helpers>
<!-- 2024-02-18 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Prevent `IWD_All` from spamming the Magento's backend": https://github.com/thehcginstitute-com/m1/issues/370 -->
	</global>
<!-- 2024-02-18 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Prevent `IWD_All` from spamming the Magento's backend": https://github.com/thehcginstitute-com/m1/issues/370 -->
	<frontend>
		<layout>
			<updates>
				<iwdall>
<!-- 2024-02-19 Dmitrii Fediuk https://upwork.com/fl/mage2pro
«jQueryIWD is not defined»: https://github.com/thehcginstitute-com/m1/issues/393 -->
					<file>iwd_all.xml</file>
				</iwdall>
			</updates>
		</layout>
	</frontend>
</config>