<?xml version="1.0"?>
<config>
    <tabs>
        <iwdall translate="label" module="iwdall">
            <label>IWD Extensions</label>
            <sort_order>210</sort_order>
            <class>iwd-block</class>
        </iwdall>
    </tabs>
<!-- 2024-02-18 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Prevent `IWD_All` from spamming the Magento's backend": https://github.com/thehcginstitute-com/m1/issues/370 -->
</config>