<?xml version="1.0"?>
<config>
    <modules>
        <PS_Webhook>
            <version>1.0.0</version>
        </PS_Webhook>
    </modules>
    <global>
        <models>
            <ps_webhook>
                <class>PS_Webhook_Model</class>
            </ps_webhook>
        </models>
		<helpers>
			<ps_webhook>
				<class>PS_Webhook_Helper</class>
			</ps_webhook>
		</helpers>
		<events>
			<sales_order_place_after>
				<observers>
					<ps_webhook>
						<type>singleton</type>
						<class>PS_Webhook_Model_Observer</class>
						<method>sendOrderToWebhook</method>
					</ps_webhook>
				</observers>
			</sales_order_place_after>
			<customer_save_after>
				<observers>
					<ps_webhook>
						<class>PS_Webhook_Model_CustomerObserver</class>
						<method>sendWebhook</method>
					</ps_webhook>
				</observers>
			</customer_save_after>
		</events>
    </global>
</config>
