<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <IWD_MultiInventory>
            <version>1.0.0</version>
        </IWD_MultiInventory>
    </modules>

    <global>
        <blocks>
            <iwd_multiinventory>
                <class>IWD_MultiInventory_Block</class>
            </iwd_multiinventory>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_inventory>IWD_MultiInventory_Block_Adminhtml_Catalog_Product_Edit_Tab_Inventory</catalog_product_edit_tab_inventory>
                    <sales_order_creditmemo_create_items>IWD_MultiInventory_Block_Adminhtml_Order_Creditmemo_Create_Items</sales_order_creditmemo_create_items>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <iwd_multiinventory>
                <class>IWD_MultiInventory_Helper</class>
            </iwd_multiinventory>
        </helpers>
        <models>
            <iwd_multiinventory>
                <class>IWD_MultiInventory_Model</class>
                <resourceModel>iwd_multiinventory_mysql4</resourceModel>
            </iwd_multiinventory>
            <iwd_multiinventory_mysql4>
                <class>IWD_MultiInventory_Model_Mysql4</class>
                <entities>
                    <cataloginventory_stock_address>
                        <table>iwd_cataloginventory_stock_address</table>
                    </cataloginventory_stock_address>
                </entities>
            </iwd_multiinventory_mysql4>
            <cataloginventory>
                <rewrite>
                    <stock>IWD_MultiInventory_Model_Cataloginventory_Stock</stock>
                    <stock_item>IWD_MultiInventory_Model_Cataloginventory_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>
            <cataloginventory_resource>
                <rewrite>
                    <stock_status>IWD_MultiInventory_Model_Cataloginventory_Resource_Stock_Status</stock_status>
                </rewrite>
            </cataloginventory_resource>
        </models>
        <resources>
            <iwd_multiinventory_setup>
                <setup>
                    <module>IWD_MultiInventory</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iwd_multiinventory_setup>
            <iwd_multiinventory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iwd_multiinventory_write>
            <iwd_multiinventory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iwd_multiinventory_read>
        </resources>
        <events>
            <sales_order_place_before>
                <observers>
                    <iwd_multiinventory_order_placed>
                        <class>iwd_multiinventory/observer</class>
                        <method>placeOrder</method>
                    </iwd_multiinventory_order_placed>
                </observers>
            </sales_order_place_before>
            <order_cancel_after>
                <observers>
                    <iwd_multiinventory_order_cancel>
                        <class>iwd_multiinventory/observer</class>
                        <method>cancelOrder</method>
                    </iwd_multiinventory_order_cancel>
                </observers>
            </order_cancel_after>
            <sales_order_item_cancel>
                <observers>
                    <iwd_multiinventory_inventory>
                        <class>iwd_multiinventory/observer</class>
                        <method>cancelOrderItem</method>
                    </iwd_multiinventory_inventory>
                </observers>
            </sales_order_item_cancel>
            <sales_order_creditmemo_refund>
                <observers>
                    <iwd_multiinventory_create_refund>
                        <class>iwd_multiinventory/observer</class>
                        <method>afterCreateRefund</method>
                    </iwd_multiinventory_create_refund>
                </observers>
            </sales_order_creditmemo_refund>
            <sales_order_creditmemo_cancel>
                <observers>
                    <iwd_multiinventory_create_refund>
                        <class>iwd_multiinventory/observer</class>
                        <method>afterCancelRefund</method>
                    </iwd_multiinventory_create_refund>
                </observers>
            </sales_order_creditmemo_cancel>
            <iwd_ordermanager_sales_order_edit_after>
                <observers>
                    <iwd_sales_order_edit>
                        <class>iwd_multiinventory/observer</class>
                        <method>afterEditItems</method>
                    </iwd_sales_order_edit>
                </observers>
            </iwd_ordermanager_sales_order_edit_after>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iwd_multiinventory after="Mage_Adminhtml">IWD_MultiInventory_Adminhtml</iwd_multiinventory>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>IWD_MultiInventory.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <events>
            <catalog_product_save_after>
                <observers>
                    <iwd_multi_inventory_save_inventory>
                        <class>iwd_multiinventory/observer</class>
                        <method>saveInventoryData</method>
                    </iwd_multi_inventory_save_inventory>
                </observers>
            </catalog_product_save_after>
            <sales_order_grid_collection_load_before>
                <observers>
                    <iwd_multi_inventory_order_grid_collection>
                        <class>iwd_multiinventory/observer</class>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </iwd_multi_inventory_order_grid_collection>
                </observers>
            </sales_order_grid_collection_load_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <iwd_multi_inventory_order_grid_column>
                        <type>model</type>
                        <class>iwd_multiinventory/observer</class>
                        <method>appendColumnToOrderGrid</method>
                    </iwd_multi_inventory_order_grid_column>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>

        <layout>
            <updates>
                <iwd_multiinventory>
                    <file>iwd_multiinventory.xml</file>
                </iwd_multiinventory>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <iwd_ordermanager>
            <multi_inventory>
                <enable>1</enable>
            </multi_inventory>
        </iwd_ordermanager>
    </default>
</config>