# 2023-11-30 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
!/.htaccess
# 2023-11-30 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# https://github.com/OpenMage/magento-mirror/blob/1.9.1.1/api.php
!/api.php
# 2024-02-13 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# https://github.com/OpenMage/magento-lts/blob/v19.5.2/composer.json
!/composer.json
# 2023-11-30 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# https://github.com/OpenMage/magento-mirror/blob/1.9.1.1/cron.php
!/cron.php
# 2023-11-30 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# https://github.com/OpenMage/magento-mirror/blob/1.9.1.1/cron.sh
!/cron.sh
# 2023-11-30 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# https://github.com/OpenMage/magento-mirror/blob/1.9.1.1/index.php
!/index.php
!/readme.md
!/app/**/*
/app/etc/local.xml
# 2024-02-21 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "Refactor the database": https://github.com/thehcginstitute-com/m1/issues/409
!/db/**/*
!/errors/**/*
!/js/**/*
!/lib/**/*
!/media/.htaccess
!/shell/**/*
!/skin/**/*
!/var/.htaccess