<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <IWD_OrderGrid>
            <version>1.1.0</version>
        </IWD_OrderGrid>
    </modules>

    <global>
        <blocks>
            <iwd_ordergrid>
                <class>IWD_OrderGrid_Block</class>
            </iwd_ordergrid>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>IWD_OrderGrid_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <customer_edit_tab_view_orders>IWD_OrderGrid_Block_Adminhtml_Customer_Order_Recent</customer_edit_tab_view_orders>
                    <customer_edit_tab_orders>IWD_OrderGrid_Block_Adminhtml_Customer_Order_Orders</customer_edit_tab_orders>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <iwd_ordergrid>
                <class>IWD_OrderGrid_Helper</class>
            </iwd_ordergrid>
        </helpers>
        <models>
            <iwd_ordergrid>
                <class>IWD_OrderGrid_Model</class>
                <resourceModel>iwd_ordergrid_mysql4</resourceModel>
            </iwd_ordergrid>
            <iwd_ordergrid_mysql4>
                <class>IWD_OrderGrid_Model_Mysql4</class>
            </iwd_ordergrid_mysql4>
            <sales_resource>
                <rewrite>
                    <order_grid_collection>IWD_OrderGrid_Model_Resource_Order_Grid_Collection</order_grid_collection>
                </rewrite>
            </sales_resource>
        </models>
        <resources>
            <iwd_ordergrid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iwd_ordergrid_write>
            <iwd_ordergrid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iwd_ordergrid_read>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iwd_ordergrid after="Mage_Adminhtml">IWD_OrderGrid_Adminhtml</iwd_ordergrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>IWD_OrderGrid.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <iwd_ordergrid_check_related>
                        <type>singleton</type>
                        <class>iwd_ordergrid/observer</class>
                        <method>checkRequiredModules</method>
                    </iwd_ordergrid_check_related>
                </observers>
            </controller_action_predispatch>
            <adminhtml_block_html_before>
                <observers>
                    <iwd_ordergrid>
                        <class>iwd_ordergrid/observer</class>
                        <method>addMassactionsToOrderGrid</method>
                    </iwd_ordergrid>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <layout>
            <updates>
                <iwd_ordergrid>
                    <file>iwd_ordergrid.xml</file>
                </iwd_ordergrid>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <iwd_ordermanager>
            <grid_order>
                <enable>1</enable>
                <save_grid_params>1</save_grid_params>
                <columns>real_order_id,ordered_products,inventory,store_id,created_at,billing_name,shipping_name,base_grand_total,grand_total,status,action</columns>
                <fix_table_header>1</fix_table_header>
                <status_color>canceled:f3c7c7;complete:7edcab;holded:ede185;closed:d5e8c3;processing:b5c4f5;pending:aaeb6a;pending_payment:aaeb6a;pending_paypal:aaeb6a;fraud:ff7f7f;payment_review:79d1c7</status_color>
                <order_totals_enable>1</order_totals_enable>
                <order_totals_sets>tax,invoiced,shipped,refunded,discount</order_totals_sets>
                <notify_customer_massaction>0</notify_customer_massaction>
            </grid_order>
            <customer_orders>
                <resent_orders_grid_columns>real_order_id,ordered_products,store_id,created_at,billing_name,shipping_name,base_grand_total,grand_total,status,action</resent_orders_grid_columns>
                <orders_grid_columns>real_order_id,ordered_products,store_id,created_at,billing_name,shipping_name,base_grand_total,grand_total,status,action</orders_grid_columns>
                <resent_orders_count>5</resent_orders_count>
            </customer_orders>
        </iwd_ordermanager>
    </default>
</config>