<?xml version="1.0"?>
<config>
	<sections>
		<payment>
			<groups>
<!-- 2024-01-04
1) "Restore the `ccsave` payment method (which has been deleted from Magento ≥ 1.9.4.0)":
https://github.com/thehcginstitute-com/m1/issues/90
2.1) https://github.com/OpenMage/magento-mirror/blob/1.9.3.10/app/code/core/Mage/Payment/etc/system.xml#L39-L172
2.2) https://github.com/OpenMage/magento-mirror/blob/1.9.1.0/app/code/core/Mage/Payment/etc/system.xml#L39-L172
2.3) https://github.com/OpenMage/magento-mirror/blob/1.9.4.0/app/code/core/Mage/Payment/etc/system.xml#L38-L39 -->
				<ccsave translate="label">
					<label>Saved CC</label>
					<frontend_type>text</frontend_type>
					<sort_order>27</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<cctypes translate="label">
							<label>Credit Card Types</label>
							<frontend_type>multiselect</frontend_type>
							<source_model>adminhtml/system_config_source_payment_cctype</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<can_be_empty>1</can_be_empty>
						</cctypes>
						<order_status translate="label">
							<label>New Order Status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status_new</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<sort_order translate="label">
							<label>Sort Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<frontend_class>validate-number</frontend_class>
						</sort_order>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<useccv translate="label">
							<label>Request Card Security Code</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</useccv>
						<centinel translate="label">
							<label>3D Secure Card Validation</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</centinel>
						<centinel_is_mode_strict translate="label comment">
							<label>Severe 3D Secure Card Validation</label>
							<comment>Severe validation removes chargeback liability on merchant.</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>25</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<depends><centinel>1</centinel></depends>
						</centinel_is_mode_strict>
						<centinel_api_url translate="label comment">
							<label>Centinel API URL</label>
							<comment>A value is required for live mode. Refer to your CardinalCommerce agreement.</comment>
							<frontend_type>text</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<depends><centinel>1</centinel></depends>
						</centinel_api_url>
						 <allowspecific translate="label">
							<label>Payment from Applicable Countries</label>
							<frontend_type>allowspecific</frontend_type>
							<sort_order>50</sort_order>
							<source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</allowspecific>
						<specificcountry translate="label">
							<label>Payment from Specific Countries</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>51</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<can_be_empty>1</can_be_empty>
						</specificcountry>
						<min_order_total translate="label">
							<label>Minimum Order Total</label>
							<frontend_type>text</frontend_type>
							<sort_order>98</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</min_order_total>
						<max_order_total translate="label">
							<label>Maximum Order Total</label>
							<frontend_type>text</frontend_type>
							<sort_order>99</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</max_order_total>
						<model></model>
					</fields>
				</ccsave>
			</groups>
		</payment>
	</sections>
</config>