<!--@subject Settlement Report @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <h1>Settlement Report</h1>
        </td>
    </tr>
    <tr>
        <td>
            <p>See attachment file(s).</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
