<?xml version='1.0'?>
<config>
	<modules>
		<HCG_Core>
			<version>1.0.0</version>
			<author>Dmitrii Fediuk https://upwork.com/fl/mage2pro</author>
		</HCG_Core>
	</modules>
	<adminhtml>
		<layout>
			<updates>
				<hcg_core module='hcg_core'><file>hcg/core.xml</file></hcg_core>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<events>
<!-- 2023-12-24
"The Magento's home page should redirect the visitor to the «Products» page":
https://github.com/thehcginstitute-com/m1/issues/73 -->
			<controller_action_predispatch_cms_index_index>
				<observers>
					<HCG_Core>
						<class>HCG_Core_Observer</class>
						<method>controller_action_predispatch_cms_index_index</method>
					</HCG_Core>
				</observers>
			</controller_action_predispatch_cms_index_index>
		</events>
		<layout>
			<updates>
				<hcg_core module='hcg_core'><file>hcg/core.xml</file></hcg_core>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
			<core>
				<rewrite>
<!-- 2024-01-04
"Port the modifications of `app/code/core/Mage/Core/Model/Design/Package.php` to Magento 1.9.4.5":
https://github.com/thehcginstitute-com/m1/issues/96 -->
					<design_package>HCG_Core_Model_Design_Package</design_package>
				</rewrite>
			</core>
		</models>
	</global>
</config>