<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <IWD_OrderFlags>
            <version>1.1.0</version>
        </IWD_OrderFlags>
    </modules>

    <global>
        <blocks>
            <iwd_orderflags>
                <class>IWD_OrderFlags_Block</class>
            </iwd_orderflags>
        </blocks>
        <helpers>
            <iwd_orderflags>
                <class>IWD_OrderFlags_Helper</class>
            </iwd_orderflags>
        </helpers>
        <models>
            <iwd_orderflags>
                <class>IWD_OrderFlags_Model</class>
                <resourceModel>iwd_orderflags_mysql4</resourceModel>
            </iwd_orderflags>
            <iwd_orderflags_mysql4>
                <class>IWD_OrderFlags_Model_Mysql4</class>
                <entities>
                    <flags_flags>
                        <table>iwd_om_flags</table>
                    </flags_flags>
                    <flags_orders>
                        <table>iwd_om_flags_orders</table>
                    </flags_orders>
                    <flags_types>
                        <table>iwd_om_flags_types</table>
                    </flags_types>
                    <flags_flag_type>
                        <table>iwd_om_flags_flag_type</table>
                    </flags_flag_type>
                    <flags_autoapply>
                        <table>iwd_om_flags_autoapply</table>
                    </flags_autoapply>
                </entities>
            </iwd_orderflags_mysql4>
        </models>
        <resources>
            <iwd_orderflags_setup>
                <setup>
                    <module>IWD_OrderFlags</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iwd_orderflags_setup>
            <iwd_orderflags_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iwd_orderflags_write>
            <iwd_orderflags_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iwd_orderflags_read>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <iwd_orderflags_order_assign_flag>
                        <class>iwd_orderflags/observer</class>
                        <method>assignFlagsToOrder</method>
                    </iwd_orderflags_order_assign_flag>
                </observers>
            </sales_order_place_after>
            <sales_order_save_after>
                <observers>
                    <iwd_orderflags_order_reassign_flags>
                        <class>iwd_orderflags/observer</class>
                        <method>assignFlagAfterUpdateOrders</method>
                    </iwd_orderflags_order_reassign_flags>
                </observers>
            </sales_order_save_after>
            <sales_order_payment_save_after>
                <observers>
                    <iwd_orderflags_payment_reassign_flags>
                        <class>iwd_orderflags/observer</class>
                        <method>assignFlagAfterUpdatePayment</method>
                    </iwd_orderflags_payment_reassign_flags>
                </observers>
            </sales_order_payment_save_after>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iwd_orderflags after="Mage_Adminhtml">IWD_OrderFlags_Adminhtml</iwd_orderflags>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>IWD_OrderFlags.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <layout>
            <updates>
                <iwd_orderflags>
                    <file>iwd_orderflags.xml</file>
                </iwd_orderflags>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <iwd_orderflags_check_related>
                        <type>singleton</type>
                        <class>iwd_orderflags/observer</class>
                        <method>checkRequiredModules</method>
                    </iwd_orderflags_check_related>
                </observers>
            </controller_action_predispatch>
            <adminhtml_block_html_before>
                <observers>
                    <iwd_orderflags_massaction>
                        <type>singleton</type>
                        <class>iwd_orderflags/observer</class>
                        <method>addActionIntoMassaction</method>
                    </iwd_orderflags_massaction>
                </observers>
            </adminhtml_block_html_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <iwd_orderflags_order_grid_collection>
                        <class>iwd_orderflags/observer</class>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </iwd_orderflags_order_grid_collection>
                </observers>
            </sales_order_grid_collection_load_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <iwd_orderflags_order_grid_column>
                        <type>singleton</type>
                        <class>iwd_orderflags/observer</class>
                        <method>appendColumnToOrderGrid</method>
                    </iwd_orderflags_order_grid_column>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <iwd_ordergrid_order_grid_columns_settings>
                <observers>
                    <iwd_orderflags_add_columns_settings>
                        <type>singleton</type>
                        <class>iwd_orderflags/observer</class>
                        <method>addColumnsSettings</method>
                    </iwd_orderflags_add_columns_settings>
                </observers>
            </iwd_ordergrid_order_grid_columns_settings>
        </events>
    </adminhtml>

    <default>
        <iwd_orderflags>
            <order_flags>
                <enable>1</enable>
            </order_flags>
        </iwd_orderflags>
    </default>
</config>