<?xml version="1.0"?>
<!--
/**
 * @category   MagePsycho
 * @package    MagePsycho_Loginredirectpro
 * @author     Raj KB <magepsycho@gmail.com>
 * @website    http://www.magepsycho.com
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <MagePsycho_Loginredirectpro>
            <version>2.0.1</version>
        </MagePsycho_Loginredirectpro>
    </modules>
    <global>
        <models>
            <magepsycho_loginredirectpro>
                <class>MagePsycho_Loginredirectpro_Model</class>
            </magepsycho_loginredirectpro>
        </models>
        <blocks>
            <magepsycho_loginredirectpro>
                <class>MagePsycho_Loginredirectpro_Block</class>
            </magepsycho_loginredirectpro>
        </blocks>
        <helpers>
            <magepsycho_loginredirectpro>
                <class>MagePsycho_Loginredirectpro_Helper</class>
            </magepsycho_loginredirectpro>
        </helpers>
        <events>
            <controller_front_init_before>
                <observers>
                    <magepsycho_loginredirectpro_controller_front_init_before>
                        <type>model</type>
                        <class>magepsycho_loginredirectpro/observer_customer</class>
                        <method>controllerFrontInitBefore</method>
                    </magepsycho_loginredirectpro_controller_front_init_before>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <magepsycho_loginredirectpro>
                    <file>magepsycho_loginredirectpro.xml</file>
                </magepsycho_loginredirectpro>
            </updates>
        </layout>
        <routers>
            <magepsycho_loginredirectpro>
                <use>standard</use>
                <args>
                    <module>MagePsycho_Loginredirectpro</module>
                    <frontName>loginredirectpro</frontName>
                </args>
            </magepsycho_loginredirectpro>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <magepsycho_loginredirectpro_controller_action_predispatch>
                        <type>singleton</type>
                        <class>magepsycho_loginredirectpro/observer</class>
                        <method>controllerActionPredispatch</method>
                    </magepsycho_loginredirectpro_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <customer_login>
                <observers>
                    <customer_login>
                        <class>magepsycho_loginredirectpro/observer_customer</class>
                        <method>customerLogin</method>
                    </customer_login>
                </observers>
            </customer_login>
            <customer_register_success>
                <observers>
                    <magepsycho_loginredirectpro_customer_register_success>
                        <class>magepsycho_loginredirectpro/observer_customer</class>
                        <method>customerRegisterSuccess</method>
                    </magepsycho_loginredirectpro_customer_register_success>
                </observers>
            </customer_register_success>
            <controller_action_postdispatch_customer_account_logout>
                <observers>
                    <magepsycho_loginredirectpro_controller_action_postdispatch_customer_account_logout>
                        <class>magepsycho_loginredirectpro/observer_customer</class>
                        <method>controllerActionPostdispatchCustomerAccountLogout</method>
                    </magepsycho_loginredirectpro_controller_action_postdispatch_customer_account_logout>
                </observers>
            </controller_action_postdispatch_customer_account_logout>
            <controller_action_postdispatch_customer_account_createpost>
                <observers>
                    <magepsycho_loginredirectpro_controller_action_postdispatch_customer_account_createpost>
                        <class>magepsycho_loginredirectpro/observer_customer</class>
                        <method>controllerActionPostdispatchCustomerAccountCreatePost</method>
                    </magepsycho_loginredirectpro_controller_action_postdispatch_customer_account_createpost>
                </observers>
            </controller_action_postdispatch_customer_account_createpost>
            <controller_action_postdispatch_newsletter_subscriber_new>
                <observers>
                    <magepsycho_loginredirectpro_controller_action_postdispatch_newsletter_subscriber_new>
                        <class>magepsycho_loginredirectpro/observer_newsletter</class>
                        <method>controllerActionPostdispatchNewsletterSubscriber</method>
                    </magepsycho_loginredirectpro_controller_action_postdispatch_newsletter_subscriber_new>
                </observers>
            </controller_action_postdispatch_newsletter_subscriber_new>
            <controller_action_postdispatch_newsletter_subscriber_confirm>
                <observers>
                    <magepsycho_loginredirectpro_controller_action_postdispatch_newsletter_subscriber_confirm>
                        <class>magepsycho_loginredirectpro/observer_newsletter</class>
                        <method>controllerActionPostdispatchNewsletterSubscriber</method>
                    </magepsycho_loginredirectpro_controller_action_postdispatch_newsletter_subscriber_confirm>
                </observers>
            </controller_action_postdispatch_newsletter_subscriber_confirm>
        </events>
        <translate>
            <modules>
                <MagePsycho_Loginredirectpro>
                    <files>
                        <default>MagePsycho_Loginredirectpro.csv</default>
                    </files>
                </MagePsycho_Loginredirectpro>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <magepsycho_loginredirectpro>
                    <file>magepsycho_loginredirectpro.xml</file>
                </magepsycho_loginredirectpro>
            </updates>
        </layout>
        <translate>
            <modules>
                <MagePsycho_Loginredirectpro>
                    <files>
                        <default>MagePsycho_Loginredirectpro.csv</default>
                    </files>
                </MagePsycho_Loginredirectpro>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <magepsycho_loginredirectpro_controller_action_predispatch>
                        <type>singleton</type>
                        <class>magepsycho_loginredirectpro/observer</class>
                        <method>adminhtmlPreDispatchCheck</method>
                    </magepsycho_loginredirectpro_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <default>
        <magepsycho_loginredirectpro>
            <option>
                <active>0</active>
                <domain_type>1</domain_type>
				<enable_log>0</enable_log>
            </option>
            <login_settings>
                <default_login_url>/customer/account</default_login_url>
            </login_settings>
            <logout_settings>
                <default_logout_url>/</default_logout_url>
                <remove_logout_intermediate>1</remove_logout_intermediate>
                <logout_custom_message>You have logged out and will be redirected to our homepage in %d seconds.</logout_custom_message>
                <logout_delay_time>5</logout_delay_time>
            </logout_settings>
            <account_settings>
                <default_account_url>/customer/account</default_account_url>
                <default_account_message>Thank you for registering with %s.</default_account_message>
            </account_settings>
            <misc_settings>
                <newsletter_url>/</newsletter_url>
                <redirect_to_param>redirect_to</redirect_to_param>
            </misc_settings>
        </magepsycho_loginredirectpro>
    </default>
</config>