<?xml version="1.0"?>
<config>
	<modules>
		<Aftership_Track>
			<version>0.3.4</version>
		</Aftership_Track>
	</modules>

	<global>
		<models>
			<aftershiptrackcron>
				<class>Aftership_Track_Model</class>
			</aftershiptrackcron>
			<track>
				<class>Aftership_Track_Model</class>
				<resourceModel>track_mysql4</resourceModel>
			</track>
			<track_mysql4>
				<class>Aftership_Track_Model_Mysql4</class>
				<entities>
					<track>
						<table>as_track</table>
					</track>
					<!--<user>
						<table>as_user</table>
					</user>-->
				</entities>
			</track_mysql4>
			<status>
				<class>Aftership_Track_Model</class>
			</status>
			<cron_job>
				<class>Aftership_Track_Model</class>
			</cron_job>
			<notification>
				<class>Aftership_Track_Model</class>
			</notification>
		</models>
		<resources>
			<track_write>
				<connection>
					<use>core_write</use>
				</connection>
			</track_write>
			<track_read>
				<connection>
					<use>core_read</use>
				</connection>
			</track_read>
			<track_setup>
				<setup>
					<module>Aftership_Track</module>
					<class>Aftership_Track_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</track_setup>
		</resources>
		<helpers>
			<aftership>
				<class>Aftership_Track_Helper</class>
			</aftership>
		</helpers>
	</global>

	<crontab>
		<jobs>
			<aftershiptrackcron>
				<schedule>
					<cron_expr>0 */3 * * *</cron_expr>
				</schedule>
				<run>
					<model>aftershiptrackcron/observer::cron</model>
				</run>
			</aftershiptrackcron>
		</jobs>
	</crontab>

	<frontend>
		<routers>
			<track>
				<use>standard</use>
				<args>
					<module>Aftership_Track</module>
					<frontName>track</frontName>
				</args>
			</track>
		</routers>
	</frontend>

	<adminhtml>
		<layout>
			<updates>
				<aftershipconfig module="Aftership_Track">
					<file>aftership.xml</file>
				</aftershipconfig>
			</updates>
		</layout>

		<events>
			<sales_order_shipment_track_save_after>
				<observers>
					<fishpig_save_product_data>
						<type>singleton</type>
						<class>track/observer</class>
						<method>salesOrderShipmentTrackSaveAfter</method>
					</fishpig_save_product_data>
				</observers>
			</sales_order_shipment_track_save_after>
			<admin_system_config_changed_section_aftership_options>
				<observers>
					<index>
						<class>track/observer</class>
						<method>adminSystemConfigChangedSectionAftership</method>
					</index>
				</observers>
			</admin_system_config_changed_section_aftership_options>
		</events>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<aftership_options>
											<title>Aftership tracking config</title>
										</aftership_options>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>