<config>
    <tabs>
        <aftershipconfig translate="label" module="aftership">
            <label>Aftership</label>
            <sort_order>99999</sort_order>
        </aftershipconfig>
    </tabs>
	<sections>
		<aftership_options translate="label" module="aftership">
			<label>AfterShip Config Options</label>
			<tab>aftershipconfig</tab>
			<class>aftership-logo</class>
			<frontend_type>text</frontend_type>
			<sort_order>1000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<messages translate="label">
					<label>Account setting</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<api_key>
							<label>AfterShip API key</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>You can find your API key in <![CDATA[<a target='_blank' href="https://www.aftership.com/apps/magento-v1">https://www.aftership.com/apps/magento-v1</a>]]></comment>
						</api_key>
						<status>
							<label>Status</label>
							<frontend_type>Select</frontend_type>
							<source_model>status/words</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</status>
						<cron_job_enable>
							<label>Enable Cron Job</label>
							<frontend_type>Select</frontend_type>
							<source_model>cron_job/words</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</cron_job_enable>
						<cron_job_frequency>
							<label>Cron Job Frequency</label>
							<frontend_type>Select</frontend_type>
							<source_model>cron_job/frequencywords</source_model>
							<sort_order>50</sort_order>
							<show_in_default>0</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</cron_job_frequency>
						<last_update>
							<label>Last Update</label>
							<frontend_type>text</frontend_type>
							<sort_order>60</sort_order>
							<show_in_default>0</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</last_update>
						<upgrade_note>
							<label><![CDATA[<strong>Option 1 - Recommended</strong>]]></label>
							<frontend_type>note</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
								<![CDATA[

									<ol>
										<li style="margin-bottom:10px !important;">1. <a href="https://www.aftership.com/signup" target="_blank">Sign up AfterShip account</a> for FREE</li>
										<li style="margin-bottom:10px !important;">2. Go to <a href="https://www.aftership.com/apps/magento-v2" target="_blank">“apps”</a> and add “Magento Connector v2”</li>
										<li style="margin-bottom:10px !important;">3. Add a SOAP/XML-RPC web services user in Magento admin page, using a role with all resources accessible.</li>
										<li style="margin-bottom:10px !important;">4. Input your Magento version, store domain, username, API key and Store ID (optional), and click connect.</li>
										<li>5. AfterShip will automatically import shipments created at Magento every 3 hours.</li>
									</ol>
								]]>

							</comment>
						</upgrade_note>
						<upgrade_note2>
							<label><![CDATA[<strong>Option 2</strong>]]></label>
							<frontend_type>note</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment>
								<![CDATA[
									(In case Option 1 does not work)
								]]>
							</comment>
						</upgrade_note2>
						<!--<notification>
							<label>Notification</label>
							<frontend_type>Multiselect</frontend_type>
							<source_model>notification/methods</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</notification>-->
					</fields>
				</messages>
			</groups>
		</aftership_options>
	</sections>
</config>