<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Widgento_Login>
			<version>1.1.4</version>
		</Widgento_Login>
	</modules>
	<global>
		<models>
			<widgentologin>
				<class>Widgento_Login_Model</class>
				<resourceModel>widgentologin_mysql4</resourceModel>
			</widgentologin>
			<widgentologin_mysql4>
				<class>Widgento_Login_Model_Mysql4</class>
				<entities>
					<login>
						<table>widgento_login</table>
					</login>
					<login_deprecated>
						<table>spadar_login</table>
					</login_deprecated>
				</entities>
			</widgentologin_mysql4>
		</models>
		<helpers>
			<widgentologin><class>Widgento_Login_Helper</class></widgentologin>
		</helpers>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<widgentologinadmin before="Mage_Adminhtml">Widgento_Login_Adminhtml</widgentologinadmin>
					</modules>
				</args>
			</adminhtml>
	   </routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<widgentologin>
					<file>widgentologin.xml</file>
				</widgentologin>
			</updates>
		</layout>
		<menu>
			<customer>
				<children>
					<widgentologin translate="title" module="widgentologin">
						<title>Login as Customer Logs</title>
						<action>adminhtml/widgentologin_log/index</action>
						<sort_order>200</sort_order>
					</widgentologin>
				</children>
			</customer>
		</menu>
	</adminhtml>

	<frontend>
		<routers>
			<widgentologin>
				<use>standard</use>
				<args>
					<module>Widgento_Login</module>
					<frontName>widgentologin</frontName>
				</args>
			</widgentologin>
		</routers>
		<events>
			<websiterestriction_frontend>
				<observers>
					<widgentologin_remove_frontend_restrictions>
						<type>singleton</type>
						<class>widgentologin/observer</class>
						<method>removeFrontendRestrictions</method>
					</widgentologin_remove_frontend_restrictions>
				</observers>
			</websiterestriction_frontend>
		</events>
	</frontend>
</config>
