<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <IWD_OrderManager>
            <version>1.10.2.0</version>
        </IWD_OrderManager>
    </modules>

    <global>
        <blocks>
            <iwd_ordermanager>
                <class>IWD_OrderManager_Block</class>
            </iwd_ordermanager>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_create_items>IWD_OrderManager_Block_Adminhtml_Sales_Order_Shipment_Create_Items</sales_order_shipment_create_items>
                    <sales_order_shipment_view_form>IWD_OrderManager_Block_Adminhtml_Sales_Order_Shipment_View_Form</sales_order_shipment_view_form>
                    <sales_order_totals_tax>IWD_OrderManager_Block_Adminhtml_Sales_Order_Total_Tax</sales_order_totals_tax>
                    <sales_order_create_billing_method_form>IWD_OrderManager_Block_Adminhtml_Sales_Order_Payment_Form</sales_order_create_billing_method_form>
                    <sales_order_view_tab_invoices>IWD_OrderManager_Block_Adminhtml_Sales_Order_View_Tab_Invoices</sales_order_view_tab_invoices>
                    <sales_order_view_tab_shipments>IWD_OrderManager_Block_Adminhtml_Sales_Order_View_Tab_Shipments</sales_order_view_tab_shipments>
                    <sales_order_view_tab_creditmemos>IWD_OrderManager_Block_Adminhtml_Sales_Order_View_Tab_Creditmemos</sales_order_view_tab_creditmemos>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_view>IWD_OrderManager_Block_Frontend_Sales_Order_View</order_view>
                </rewrite>
            </sales>
<!-- 2024-02-04 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Delete the Braintree support from IWD modules": https://github.com/thehcginstitute-com/m1/issues/360 -->
        </blocks>
        <helpers>
            <iwd_ordermanager>
                <class>IWD_OrderManager_Helper</class>
            </iwd_ordermanager>
        </helpers>

        <models>
            <iwd_ordermanager>
                <class>IWD_OrderManager_Model</class>
                <resourceModel>iwd_ordermanager_mysql4</resourceModel>
            </iwd_ordermanager>
            <iwd_ordermanager_mysql4>
                <class>IWD_OrderManager_Model_Mysql4</class>
                <entities>
<!-- 2024-02-21 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Delete the unused «Backup Sales» feature of `IWD_OrderManager`": https://github.com/thehcginstitute-com/m1/issues/412 -->
                    <archive_order>
                        <table>iwd_sales_archive_order_grid</table>
                    </archive_order>
                    <archive_invoice>
                        <table>iwd_sales_archive_invoice_grid</table>
                    </archive_invoice>
                    <archive_creditmemo>
                        <table>iwd_sales_archive_creditmemo_grid</table>
                    </archive_creditmemo>
                    <archive_shipment>
                        <table>iwd_sales_archive_shipment_grid</table>
                    </archive_shipment>
                    <confirm_logger>
                        <table>iwd_edit_order_confirm</table>
                    </confirm_logger>
                    <transactions>
                        <table>iwd_auth_payment_transaction</table>
                    </transactions>
                </entities>
            </iwd_ordermanager_mysql4>
<!-- 2024-02-04 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Delete the unused `Mage_Paypal` module": https://github.com/thehcginstitute-com/m1/issues/356 -->
            <sales>
                <rewrite>
                    <order_creditmemo>IWD_OrderManager_Model_Creditmemo</order_creditmemo>
                </rewrite>
            </sales>
        </models>

        <resources>
            <iwd_ordermanager_setup>
                <setup>
                    <module>IWD_OrderManager</module>
                    <class>IWD_OrderManager_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iwd_ordermanager_setup>

            <iwd_ordermanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iwd_ordermanager_write>

            <iwd_ordermanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iwd_ordermanager_read>
        </resources>

        <template>
            <email>
                <iwd_ordermanager_edit_transaction_email module="iwd_ordermanager">
                    <label>Edit Ordered Items</label>
                    <file>sales/ordered_items_update.html</file>
                    <type>html</type>
                </iwd_ordermanager_edit_transaction_email>
                <iwd_ordermanager_edit_transaction_email_guest module="iwd_ordermanager">
                    <label>Edit Ordered Items For Guest</label>
                    <file>sales/ordered_items_update_guest.html</file>
                    <type>html</type>
                </iwd_ordermanager_edit_transaction_email_guest>

                <iwd_ordermanager_edit_confirm_transaction_email module="iwd_ordermanager">
                    <label>Edit Order Confirm</label>
                    <file>sales/order_update_confirm.html</file>
                    <type>html</type>
                </iwd_ordermanager_edit_confirm_transaction_email>
                <iwd_ordermanager_edit_confirm_transaction_email_guest module="iwd_ordermanager">
                    <label>Edit Order Confirm For Guest</label>
                    <file>sales/order_update_confirm_guest.html</file>
                    <type>html</type>
                </iwd_ordermanager_edit_confirm_transaction_email_guest>
            </email>
        </template>

        <events>
            <iwd_ordermanager_sales_order_edit_before>
                <observers>
                    <ordermanager_backup_order_edit_before_edit>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer_sales</class>
                        <method>backupOrderBeforeEdit</method>
                    </ordermanager_backup_order_edit_before_edit>
                </observers>
            </iwd_ordermanager_sales_order_edit_before>
            <iwd_ordermanager_update_order_amount_before>
                <observers>
                    <ordermanager_backup_order_amount_before_edit>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer_sales</class>
                        <method>backupOrderBeforeEdit</method>
                    </ordermanager_backup_order_amount_before_edit>
                </observers>
            </iwd_ordermanager_update_order_amount_before>

            <sales_order_status_history_save_before>
                <observers>
                    <ordermanager_add_admin_to_order_comment>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer_history</class>
                        <method>addAdminToOrderComment</method>
                    </ordermanager_add_admin_to_order_comment>
                    <ordermanager_cnahe_new_line_to_br>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer_history</class>
                        <method>changeNewLinesToBr</method>
                    </ordermanager_cnahe_new_line_to_br>
                </observers>
            </sales_order_status_history_save_before>

            <sales_order_place_after>
                <observers>
                    <ordermanager_change_order_status>
                        <class>iwd_ordermanager/observer_sales</class>
                        <method>changeOrderStatus</method>
                    </ordermanager_change_order_status>
                </observers>
            </sales_order_place_after>

            <sales_order_payment_save_before>
                <observers>
                    <ordermanager_payment_before_save>
                        <class>iwd_ordermanager/observer_payment</class>
                        <method>beforeOrderPaymentSave</method>
                    </ordermanager_payment_before_save>
                </observers>
            </sales_order_payment_save_before>

            <sales_quote_address_collect_totals_after>
                <observers>
                    <ordermanager_payment_before_save>
                        <class>iwd_ordermanager/observer_tax</class>
                        <method>restoreCustomFeeTax</method>
                    </ordermanager_payment_before_save>
                </observers>
            </sales_quote_address_collect_totals_after>
        </events>

        <sales>
            <quote>
                <totals>
                    <iwd_om_fee>
                        <class>iwd_ordermanager/sales_quote_address_total_fee</class>
                        <after>discount</after>
                        <before>grand_total</before>
                    </iwd_om_fee>
                    <iwd_om_fee_incl>
                        <class>iwd_ordermanager/sales_quote_address_total_feeincl</class>
                        <after>discount</after>
                        <before>grand_total</before>
                    </iwd_om_fee_incl>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <iwd_om_fee>
                        <class>iwd_ordermanager/sales_order_invoice_total_fee</class>
                        <after>discount</after>
                    </iwd_om_fee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <iwd_om_fee>
                        <class>iwd_ordermanager/sales_order_creditmemo_total_fee</class>
                        <after>discount</after>
                    </iwd_om_fee>
                </totals>
            </order_creditmemo>
        </sales>

        <pdf>
            <order>
                <default>iwd_ordermanager/order_pdf_items_order_default</default>
                <grouped>iwd_ordermanager/order_pdf_items_order_grouped</grouped>
            </order>
            <totals>
                <iwd_om_fee>
                    <model>iwd_ordermanager/sales_pdf_fee</model>
                    <display_zero>0</display_zero>
                    <sort_order>1</sort_order>
                </iwd_om_fee>
            </totals>
        </pdf>

        <fieldsets>
            <sales_convert_quote_address>
                <iwd_om_fee_amount><to_order>*</to_order></iwd_om_fee_amount>
                <iwd_om_fee_amount_incl_tax><to_order>*</to_order></iwd_om_fee_amount_incl_tax>
                <iwd_om_fee_base_amount><to_order>*</to_order></iwd_om_fee_base_amount>
                <iwd_om_fee_base_amount_incl_tax><to_order>*</to_order></iwd_om_fee_base_amount_incl_tax>
                <iwd_om_fee_description><to_order>*</to_order></iwd_om_fee_description>
                <iwd_om_fee_tax_percent><to_order>*</to_order></iwd_om_fee_tax_percent>
            </sales_convert_quote_address>
        </fieldsets>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iwd_ordermanager after="Mage_Adminhtml">IWD_OrderManager_Adminhtml</iwd_ordermanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <iwd_ordermanager>
                <use>standard</use>
                <args>
                    <module>IWD_OrderManager_Frontend</module>
                    <frontName>iwd_order_manager</frontName>
                </args>
            </iwd_ordermanager>
        </routers>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>IWD_OrderManager.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <layout>
            <updates>
                <iwd_ordermanager>
                    <file>iwdordermanager.xml</file>
                </iwd_ordermanager>
            </updates>
        </layout>
        <events>
            <sales_order_collection_load_before>
                <observers>
                    <ordermanager_check_related>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer_OrderCollection</class>
                        <method>hideOrdersOnFront</method>
                    </ordermanager_check_related>
                </observers>
            </sales_order_collection_load_before>
            <sales_order_load_after>
                <observers>
                    <ordermanager_check_related>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer_OrderCollection</class>
                        <method>hideOrderOnFront</method>
                    </ordermanager_check_related>
                </observers>
            </sales_order_load_after>
        </events>
    </frontend>

    <adminhtml>
<!-- 2024-02-04 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Delete the Braintree support from IWD modules": https://github.com/thehcginstitute-com/m1/issues/360 -->
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>IWD_OrderManager.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <ordermanager_check_related>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>checkRequiredModules</method>
                    </ordermanager_check_related>
                </observers>
            </controller_action_predispatch>
            <adminhtml_block_html_before>
                <observers>
                    <iwd_ordermanager>
                        <class>iwd_ordermanager/observer</class>
                        <method>orderManagerObserver</method>
                    </iwd_ordermanager>
                </observers>
            </adminhtml_block_html_before>
            <iwd_ordermanager_sales_order_delete_before>
                <observers>
                    <order_delete_before>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>orderDelete</method>
                    </order_delete_before>
                </observers>
            </iwd_ordermanager_sales_order_delete_before>
            <iwd_ordermanager_sales_invoice_delete_before>
                <observers>
                    <invoice_delete_before>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>invoiceDelete</method>
                    </invoice_delete_before>
                </observers>
            </iwd_ordermanager_sales_invoice_delete_before>
            <iwd_ordermanager_sales_shipment_delete_before>
                <observers>
                    <shipment_delete_before>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>shipmentDelete</method>
                    </shipment_delete_before>
                </observers>
            </iwd_ordermanager_sales_shipment_delete_before>
            <iwd_ordermanager_sales_creditmemo_delete_before>
                <observers>
                    <creditmemo_delete_before>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>creditmemoDelete</method>
                    </creditmemo_delete_before>
                </observers>
            </iwd_ordermanager_sales_creditmemo_delete_before>
            <iwd_ordermanager_sales_comment_delete_before>
                <observers>
                    <comment_delete_before>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>commentDelete</method>
                    </comment_delete_before>
                </observers>
            </iwd_ordermanager_sales_comment_delete_before>
            <iwd_ordermanager_update_order_after>
                <observers>
                    <iwd_ordermanager_after_order_update>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>salesOrderAfterUpdate</method>
                    </iwd_ordermanager_after_order_update>
                </observers>
            </iwd_ordermanager_update_order_after>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <iwd_ordermanager_fee>
                        <class>iwd_ordermanager/observer_sales</class>
                        <method>addFeeToQuote</method>
                    </iwd_ordermanager_fee>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <catalog_product_save_after>
                <observers>
                    <iwd_ordermanager_update_order_status>
                        <class>iwd_ordermanager/observer_inventory</class>
                        <method>updateOrderStatus</method>
                    </iwd_ordermanager_update_order_status>
                </observers>
            </catalog_product_save_after>
        </events>

        <layout>
            <updates>
                <iwd_ordermanager>
                    <file>iwdordermanager.xml</file>
                </iwd_ordermanager>
            </updates>
        </layout>
    </adminhtml>

    <crontab>
        <jobs>
            <iwd_archive_orders>
                <run>
                    <model>iwd_ordermanager/observer::scheduledArchiveOrders</model>
                </run>
            </iwd_archive_orders>
        </jobs>
    </crontab>

    <default>
        <iwd_ordermanager>
            <iwd_delete_orders>
                <allow_del_orders>1</allow_del_orders>
                <double_confirmation>1</double_confirmation>
            </iwd_delete_orders>
            <iwd_delete_invoices>
                <allow_del_invoices>1</allow_del_invoices>
                <double_confirmation>1</double_confirmation>
            </iwd_delete_invoices>
            <iwd_delete_creditmemos>
                <allow_del_creditmemos>1</allow_del_creditmemos>
                <double_confirmation>1</double_confirmation>
            </iwd_delete_creditmemos>
            <iwd_delete_shipments>
                <allow_del_shipments>1</allow_del_shipments>
                <double_confirmation>1</double_confirmation>
                <allow_del_related_cm_for_invoices>0</allow_del_related_cm_for_invoices>
            </iwd_delete_shipments>
            <edit>
                <show_item_image>1</show_item_image>
                <order_status>pending,processing</order_status>
                <return_to_stock>1</return_to_stock>
                <recalculate_shipping>1</recalculate_shipping>
                <transaction_email>iwd_ordermanager_edit_transaction_email</transaction_email>
                <transaction_email_guest>iwd_ordermanager_edit_transaction_email_guest</transaction_email_guest>
                <confirm_transaction_email>iwd_ordermanager_edit_confirm_transaction_email</confirm_transaction_email>
                <confirm_transaction_email_guest>iwd_ordermanager_edit_confirm_transaction_email_guest</confirm_transaction_email_guest>
                <notify_checked>1</notify_checked>
                <confirm_edit_checked>0</confirm_edit_checked>
                <recalculate_amount_checked>1</recalculate_amount_checked>
                <confirm_wait_status>false</confirm_wait_status>
                <confirm_success_status>false</confirm_success_status>
                <confirm_cancel_status>false</confirm_cancel_status>
                <is_visible_comment_on_front>0</is_visible_comment_on_front>
                <validate_inventory>1</validate_inventory>
                <deferred_re_authorization>1</deferred_re_authorization>
                <enable_edit_coupon>1</enable_edit_coupon>
                <enable_custom_amount>1</enable_custom_amount>
                <enable_custom_amount_new>1</enable_custom_amount_new>
                <manage_custom_amount_tax>1</manage_custom_amount_tax>
                <display_custom_amount>3</display_custom_amount>
            </edit>
            <order_options>
                <hide>0</hide>
            </order_options>
            <archive>
                <enable>0</enable>
                <order_statuses>canceled,complete,closed</order_statuses>
                <auto_archive_enable>0</auto_archive_enable>
                <auto_archive_after_days>7</auto_archive_after_days>
                <auto_archive_frequency>D</auto_archive_frequency>
                <auto_archive_start_time>02,00,00</auto_archive_start_time>
            </archive>
            <inventory>
                <order_outofstock_status>iwd_om_outofstock</order_outofstock_status>
                <order_outofstock_all_items>0</order_outofstock_all_items>
            </inventory>
        </iwd_ordermanager>
    </default>
</config>