<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Widgento_Core>
			<version>0.2.0</version>
		</Widgento_Core>
	</modules>
	<global>
		<helpers>
			<widgentocore><class>Widgento_Core_Helper</class></widgentocore>
		</helpers>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<widgentocore>
											<title>Widgento Modules Info</title>
										</widgentocore>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>