<?xml version="1.0"?>
      <config>

   <modules>
      <Mage_Payjunction>
         <version>0.1.0</version>
      </Mage_Payjunction>
   </modules>

   <global>
      <models>
         <payjunction>
            <class>Mage_Payjunction_Model</class>
            <resourceModel>payjunction_mysql4</resourceModel>
         </payjunction>
         <payjunction_mysql4>
            <class>Mage_Payjunction_Model_Mysql4</class>
            <entities>
                <authorizenet_debug><table>payjunction_debug</table></authorizenet_debug>
            </entities>
         </payjunction_mysql4>
      </models>
      <resources>
         <payjunction_setup>
            <setup>
               <module>Mage_Payjunction</module>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </payjunction_setup>
         <payjunction_write>
            <connection>
               <use>core_write</use>
            </connection>
         </payjunction_write>
         <payjunction_read>
            <connection>
               <use>core_read</use>
            </connection>
         </payjunction_read>
      </resources>
   </global>

    <adminhtml>
        <translate>
            <modules>
                <Mage_Payjunction>
                    <files>
                        <default>Mage_Payjunction.csv</default>
                    </files>
                </Mage_Payjunction>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <translate>
            <modules>
                <Mage_Payjunction>
                    <files>
                        <default>Mage_Payjunction.csv</default>
                    </files>
                </Mage_Payjunction>              
            </modules>
        </translate>
    </frontend>          







    <default>
        <payment>
            <payjunction>
                <active>0</active>
                <cctypes>AE,VI,MC,DI</cctypes>
                <cgi_url>https://secure.authorize.net/gateway/transact.dll</cgi_url>
                <debug>0</debug>
                <email_customer>0</email_customer>
                <login backend_model="adminhtml/system_config_backend_encrypted"/>
                <merchant_email></merchant_email>
                <model>payjunction/payjunction</model>
                <order_status>1</order_status>
                <payment_action>authorize</payment_action>
                <test>1</test>
                <title>Credit Card (PayJunction)</title>
                <trans_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <allowspecific>0</allowspecific>
            </payjunction>
        </payment>
    </default>


      </config>
