<?xml version="1.0"?>
      <config>
         <sections>
      <!-- payment tab -->
              <payment>
                  <groups>


                <payjunction translate="label" module="paygate">
                    <label>PayJunction</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <cctypes translate="label">
                            <label>Credit Card Types</label>
                           <!--  <frontend_type>multiselect</frontend_type>
                            <source_model>payjunction/payjunction_source_cctype</source_model> -->
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cctypes>
                        <useccv translate="label">
                            <label>Credit Card Verification</label>
                            <!-- <frontend_type>select</frontend_type>
                            <source_model>payjunction/payjunction_source_verification</source_model> -->
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </useccv>
                        <useavs translate="label">
                            <label>Address Verification</label>
                            <!-- <frontend_type>select</frontend_type>
                            <source_model>payjunction/payjunction_source_verification</source_model> -->
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </useavs>
						<avstype translate="label">
                            <label>AVS Type</label>
                            <!-- <frontend_type>select</frontend_type>
                            <source_model>payjunction/payjunction_source_avsType</source_model> -->
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </avstype>
                        <plogin translate="label">
                            <label>Trinity Gateway (API) Login</label> 
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </plogin>
                        <password translate="label">
                            <label>Trinity Gateway (API) Password</label> 
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>
                        <order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_processing</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>    
                        </order_status>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>    
                            <sort_order>100</sort_order>         
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>    
                        </sort_order>
                        <test translate="label">            
                            <label>Test mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>           
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>    
                        </test>
                        <debug translate="label">           
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>         
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>    
                        </debug>
                        <title translate="label">           
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>     
                            <show_in_default>1</show_in_default> 
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>    
                        </title>
                        <payment_action translate="label">      
                            <label>Payment Action</label>
                            <!-- <frontend_type>select</frontend_type>
                            <source_model>payjunction/payjunction_source_paymentAction</source_model> -->
                            <sort_order>4</sort_order>             
                            <show_in_default>1</show_in_default> 
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>    
                        </payment_action>
                        <allowspecific translate="label">   
                            <label>Payment from applicable countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>50</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>    
                        </allowspecific>
                        <specificcountry translate="label">     
                            <label>Payment from Specific countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>51</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website> 
                            <show_in_store>1</show_in_store>    
                        </specificcountry>                      
                        <min_order_total>
                            <label>Minimum Order Total</label>  
                            <frontend_type>text</frontend_type>
                            <sort_order>98</sort_order>        
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website> 
                            <show_in_store>0</show_in_store>    
                        </min_order_total>
                        <max_order_total>
                            <label>Maximum Order Total</label>
                            <frontend_type>text</frontend_type> 
                            <sort_order>99</sort_order>  
                            <show_in_default>1</show_in_default> 
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>       
                        </max_order_total>
                        <model>
                        </model>
                    </fields>            
                </payjunction>         

                  </groups>
              </payment>
          </sections>
      </config>
