<?xml version='1.0'?>
<config>
	<modules>
		<HCG_Sales>
			<version>1.0.0</version>
			<author>Dmitrii Fediuk https://upwork.com/fl/mage2pro</author>
		</HCG_Sales>
	</modules>
	<global>
		<sales>
			<quote>
				<totals>
<!-- 2019-05-09
1) «Fix the coupon code application scenario on the Magento 1 checkout page»: https://www.upwork.com/ab/f/contracts/22124875
2) https://community.magento.com/t5/Magento-1-x-Technical-Issues/Discount-not-applied-to-Grand-Total/m-p/55262/highlight/true#M5014
2024-01-06
"Port the modifications of `app/code/core/Mage/Sales/etc/config.xml` to Magento 1.9.4.5":
https://github.com/thehcginstitute-com/m1/issues/99 -->
					<discount>
						<class>sales/order_invoice_total_discount</class>
						<after>subtotal</after>
					</discount>
				</totals>
			</quote>
		</sales>
	</global>
</config>