<?xml version="1.0"?>
<config>
    <modules>
        <Jamesckemp_Singlesignon>
            <version>0.1.0</version>
        </Jamesckemp_Singlesignon>
    </modules>
    <frontend>
        <events>
		
            <customer_register_success>
                <observers>
                    <Jamesckemp_Singlesignon_Model_Observer>
                        <type>singleton</type>
                        <class>Jamesckemp_Singlesignon_Model_Observer</class>
                        <method>RegisterWp</method>
                    </Jamesckemp_Singlesignon_Model_Observer>
                </observers>
            </customer_register_success>
						
			<customer_login>
                <observers>
                    <Jamesckemp_Singlesignon_Model_Observer>
                        <type>singleton</type>
                        <class>Jamesckemp_Singlesignon_Model_Observer</class>
                        <method>CustomerLogin</method>
                    </Jamesckemp_Singlesignon_Model_Observer>
                </observers>
            </customer_login>
			
			<customer_logout>
                <observers>
                    <Jamesckemp_Singlesignon_Model_Observer>
                        <type>singleton</type>
                        <class>Jamesckemp_Singlesignon_Model_Observer</class>
                        <method>CustomerLogout</method>
                    </Jamesckemp_Singlesignon_Model_Observer>
                </observers>
            </customer_logout>
			
			<controller_action_predispatch>
                <observers>
                    <Jamesckemp_Singlesignon_Model_Observer>
                        <type>singleton</type>
                        <class>Jamesckemp_Singlesignon_Model_Observer</class>
                        <method>resetPassword</method>
                    </Jamesckemp_Singlesignon_Model_Observer>
                </observers>
            </controller_action_predispatch>
			
        </events>
    </frontend>
</config>
