body.adminhtml-sales-order-index {
	table#sales_order_grid_table {
		// 2024-02-20
		// 1) "The backend order grid is not properly colored": https://github.com/thehcginstitute-com/m1/issues/395
		// 2.1) https://github.com/thehcginstitute-com/m1/blob/2024-02-20/skin/adminhtml/default/openmage/scss/override.scss#L219
		// 2.2) https://github.com/thehcginstitute-com/m1/blob/2024-02-20/skin/adminhtml/default/openmage/scss/override.scss#L349-L380
		td {background-color: initial !important;}
		// 2024-02-20
		// "Improve the calendar controls appearance on the the backend order grid":
		// https://github.com/thehcginstitute-com/m1/issues/397
		th > .range {
			position: relative;
			// 2024-02-20
			// I set it to a higher value than `z-index` of the next column's control:
			// https://github.com/thehcginstitute-com/m1/blob/2024-02-20/skin/adminhtml/default/default/iwd/ordergrid/order_grid.css#L82
			z-index: 3;
			// 2024-02-20
			// It was `4px`:
			// https://github.com/thehcginstitute-com/m1/blob/2024-02-20/skin/adminhtml/default/openmage/scss/override.scss#L272
			.label {padding-left: 0;}
		}
	}
}