// 2024-04-22 Dmitrii Fediuk https://upwork.com/fl/mage2pro
// "Refactor `HemantNegi/jquery.sumoselect`": https://github.com/thehcginstitute-com/m1/issues/576
@import 'sumoselect/_top-rules';
.SumoSelect {
	display: inline-block;
	// 2024-04-22 Dmitrii Fediuk https://upwork.com/fl/mage2pro
	// 1) "Upgrade `HemantNegi/jquery.sumoselect`": https://github.com/thehcginstitute-com/m1/issues/553
	// 2) https://github.com/thehcginstitute-com/m1/blob/2024-04-22/skin/adminhtml/default/default/iwd/ordergrid/sumoselect.css#L2
	min-width: 50px; width: 100%;
	outline: none;
	position: relative;
	&.open {
		> .search {> span, > label {visibility: hidden;}}
		.search-txt {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			margin: 0;
			padding: 5px 8px;
			border: none;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			border-radius: 5px;
		}
		> .optWrapper {
			// 2024-04-22 Dmitrii Fediuk https://upwork.com/fl/mage2pro
			// 1) "Upgrade `HemantNegi/jquery.sumoselect`": https://github.com/thehcginstitute-com/m1/issues/553
			// 2) https://github.com/thehcginstitute-com/m1/blob/2024-04-22/skin/adminhtml/default/default/iwd/ordergrid/sumoselect.css#L33
			display: block;
			top: 20px;
			&.up {bottom: 100%; margin-bottom: 5px; top: auto;}
		}
	}
	&:focus, &:hover, &.open {> .CaptionCont {border-color: #7799D0; box-shadow: 0 0 2px #7799D0;}}
	p {margin: 0;}
	.hidden {display: none;}
	.search-txt {display: none; outline: none;}
	.no-match {display: none; padding: 6px;}
	> .optWrapper > .options li.opt label, > .CaptionCont, .select-all > label {
		user-select: none;
		-o-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
	}
	> .CaptionCont {
		position: relative;
		border: 1px solid #A4A4A4;
		min-height: 14px;
		background-color: #fff;
		border-radius: 2px;
		margin: 0;
		> label {
			bottom: 0; position: absolute; right: 0; top: 0; width: 30px;
			> i {
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wMdBhAJ/fwnjwAAAGFJREFUKM9jYBh+gBFKuzEwMKQwMDB8xaOWlYGB4T4DA0MrsuapDAwM//HgNwwMDDbYTJuGQ8MHBgYGJ1xOYGNgYJiBpuEpAwODHSF/siDZ+ISBgcGClEDqZ2Bg8B6CkQsAPRga0cpRtDEAAAAASUVORK5CYII=');
				background-position: center center;
				width: 16px;
				height: 16px;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				background-repeat: no-repeat;
				opacity: 0.8;
			}
		}
		> span {
			display: block;
			padding-right: 30px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			cursor: default;
			// 2024-04-22 Dmitrii Fediuk https://upwork.com/fl/mage2pro
			// 1) "Upgrade `HemantNegi/jquery.sumoselect`": https://github.com/thehcginstitute-com/m1/issues/553
			// 2) https://github.com/thehcginstitute-com/m1/blob/2024-04-22/skin/adminhtml/default/default/iwd/ordergrid/sumoselect.css#L24
			font-weight:100;
			&.placeholder {color: #ccc; font-style: italic;}
		}
	}
	> .optWrapper {
		// 2024-04-22 Dmitrii Fediuk https://upwork.com/fl/mage2pro
		// 1) "Upgrade `HemantNegi/jquery.sumoselect`": https://github.com/thehcginstitute-com/m1/issues/553
		// 2) https://github.com/thehcginstitute-com/m1/blob/2024-04-22/skin/adminhtml/default/default/iwd/ordergrid/sumoselect.css#L32
		min-width:150px;
		display: none;
		z-index: 1000;
		top: 30px;
		width: 100%;
		position: absolute;
		left: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: #fff;
		border: 1px solid #ddd;
		box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
		border-radius: 3px;
		overflow: hidden;
		&.okCancelInMulti > .options {border-radius: 2px 2px 0 0;}
		&.selall > .options {border-radius: 0 0 2px 2px;}
		&.selall.okCancelInMulti > .options {border-radius: 0;}
		ul {
			display: block;
			list-style: none;
			margin: 0;
			overflow: auto;
			padding: 0;
		}
		> .options {
			border-radius: 2px;
			position: relative;
			// Set the height of pop up here (only for desktop mode)
			max-height: 250px;
			li {
				&.group.disabled > label {opacity: 0.5;}
				ul li.opt {padding-left: 22px;}
			}
		}
	}
}

.SumoSelect > .optWrapper.multiple > .options li ul li.opt {
	padding-left: 50px;
}
.SumoSelect > .optWrapper.isFloating > .options {
	max-height: 100%;
	box-shadow: 0 0 100px #595959;
}
.SumoSelect > .optWrapper > .options li.opt {
	padding: 6px 6px;
	position: relative;
	border-bottom: 1px solid #f5f5f5;
}
.SumoSelect > .optWrapper > .options > li.opt:first-child {
	border-radius: 2px 2px 0 0;
}
.SumoSelect > .optWrapper.selall > .options > li.opt:first-child {
	border-radius: 0;
}
.SumoSelect > .optWrapper > .options > li.opt:last-child {
	border-radius: 0 0 2px 2px;
	border-bottom: none;
}
.SumoSelect > .optWrapper.okCancelInMulti > .options > li.opt:last-child {
	border-radius: 0;
}
.SumoSelect > .optWrapper > .options li.opt:hover {
	background-color: #E4E4E4;
}
.SumoSelect > .optWrapper > .options li.opt.sel, .SumoSelect .select-all.sel {
	background-color: #a1c0e4;
}
.SumoSelect > .optWrapper > .options li label {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	cursor: pointer;
}
.SumoSelect > .optWrapper > .options li span {
	display: none;
}
/* 2024-04-22 Dmitrii Fediuk https://upwork.com/fl/mage2pro
1) "Upgrade `HemantNegi/jquery.sumoselect`": https://github.com/thehcginstitute-com/m1/issues/553
2) https://github.com/thehcginstitute-com/m1/blob/2024-04-22/skin/adminhtml/default/default/iwd/ordergrid/sumoselect.css#L53 */
.SumoSelect > .optWrapper > .options li > label {font-weight:100;}
.SumoSelect > .optWrapper > .options li.group > label {
	cursor: default;
	padding: 8px 6px;
/* 2024-04-22 Dmitrii Fediuk https://upwork.com/fl/mage2pro
1) "Upgrade `HemantNegi/jquery.sumoselect`": https://github.com/thehcginstitute-com/m1/issues/553
2) https://github.com/thehcginstitute-com/m1/blob/2024-04-22/skin/adminhtml/default/default/iwd/ordergrid/sumoselect.css#L54 */
	font-weight: 100;
}
/*Floating styles*/
.SumoSelect > .optWrapper.isFloating {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 90%;
	bottom: 0;
	margin: auto;
	max-height: 90%;
}
/*disabled state*/
.SumoSelect > .optWrapper > .options li.opt.disabled {
	background-color: inherit;
	pointer-events: none;
}
.SumoSelect > .optWrapper > .options li.opt.disabled * {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 5-7 */
	filter: alpha(opacity=50); /* Netscape */
	-moz-opacity: 0.5; /* Safari 1.x */
	-khtml-opacity: 0.5; /* Good browsers */
	opacity: 0.5;
}
/*styling for multiple select*/
.SumoSelect > .optWrapper.multiple > .options li.opt {
	padding-left: 35px;
	cursor: pointer;
}
.SumoSelect > .optWrapper.multiple > .options li.opt span,
.SumoSelect .select-all > span {
	position: absolute;
	display: block;
	width: 30px;
	top: 0;
	bottom: 0;
	margin-left: -35px;
}
.SumoSelect > .optWrapper.multiple > .options li.opt span i,
.SumoSelect .select-all > span i {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 14px;
	height: 14px;
	border: 1px solid #AEAEAE;
	border-radius: 2px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
	background-color: #fff;
}
.SumoSelect > .optWrapper > .MultiControls {
	display: none;
	border-top: 1px solid #ddd;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
	border-radius: 0 0 3px 3px;
}
.SumoSelect > .optWrapper.multiple.isFloating > .MultiControls {
	display: block;
	margin-top: 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls {
	display: block;
}
.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p {
	padding: 6px;
}
.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p:focus {
	box-shadow: 0 0 2px #a1c0e4;
	border-color: #a1c0e4;
	outline: none;
	background-color: #a1c0e4;
}
.SumoSelect > .optWrapper.multiple > .MultiControls > p {
	display: inline-block;
	cursor: pointer;
	padding: 12px;
	width: 50%;
	box-sizing: border-box;
	text-align: center;
}
.SumoSelect > .optWrapper.multiple > .MultiControls > p:hover {
	background-color: #f1f1f1;
}
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk {
	border-right: 1px solid #DBDBDB;
	border-radius: 0 0 0 3px;
}
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel {
	border-radius: 0 0 3px 0;
}
/*styling for select on popup mode*/
.SumoSelect > .optWrapper.isFloating > .options li.opt {
	padding: 12px 6px;
}
/*styling for only multiple select on popup mode*/
.SumoSelect > .optWrapper.multiple.isFloating > .options li.opt {
	padding-left: 35px;
}
.SumoSelect > .optWrapper.multiple.isFloating {
	padding-bottom: 43px;
}
.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i,
.SumoSelect .select-all.selected > span i,
.SumoSelect .select-all.partial > span i {
	background-color: rgb(17, 169, 17);
	box-shadow: none;
	border-color: transparent;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
	background-position: center center;
}
/*disabled state*/
.SumoSelect.disabled {
	opacity: 0.7;
	cursor: not-allowed;
}
.SumoSelect.disabled > .CaptionCont {
	border-color: #ccc;
	box-shadow: none;
}
/**Select all button**/
.SumoSelect .select-all {
	border-radius: 3px 3px 0 0;
	position: relative;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	padding: 8px 0 3px 35px;
	height: 20px;
	cursor: pointer;
}
.SumoSelect .select-all > label, .SumoSelect .select-all > span i {
	cursor: pointer;
}
.SumoSelect .select-all.partial > span i {
	background-color: #ccc;
}
/*styling for optgroups*/
.SumoSelect > .optWrapper > .options li.optGroup {
	padding-left: 5px;
	text-decoration: underline;
}
.reset-all {
	padding: 5px 10px 5px 35px;
	border-bottom: 1px solid #CDCDCD;
}
.SumoSelect[is-selected="false"] .reset-all {
	opacity: 0.5;
	pointer-events: none;
}
.SumoSelect[is-selected="true"] .reset-all {
	opacity: 1;
	cursor: pointer;
	color: #7799D0;
}
.SumoSelect[is-selected="true"] .reset-all * {
	cursor: pointer;
}
.SumoSelect[is-selected="true"] .reset-all:hover {
	color: black;
}
