@media only screen and (max-width: 767px) {
	.row {width: auto !important;}
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
	.row {width: auto !important;}
}
.header {
	height: auto !important;
	padding: 0 0 0 0 !important;
	width: 100% !important;
	> .logo {
		clear: none;
		display: block !important;
		height: auto !important;
		line-height: initial !important;
		margin-top: 4px !important;
		width: 23%;
		padding: 0 1%;
		> a {
			display: block;
			height: auto !important;
			line-height: initial !important;
			> img {
				//width: 251px; height: 104px;
				max-height: 100%; width: 100%;
			}
		}
	}
	> .nav-container  {
		//background: yellow;
		float: none;
		width: 75%;
		margin-left: 25%;
		> .hcg-mobile-menu-icon {display: none;}
		> ul#nav {
			// 2018-10-07
			display: -webkit-box; // 2018-10-07 Safari 5
			display: -moz-box;
			display: box;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: flex; // 2018-09-21 https://stackoverflow.com/a/22166933
			float: none;
			padding: 5% 0;
			width: 100%;
			> li {
				display: table;
				//width: 11.5%;  // 2018-10-07 For old Safari
				flex-basis: 100%;
				height: 2.5em;
				text-align: center;
				> a {
					display: table-cell;
					float: none;
					margin: 0;
					padding: 0;
					vertical-align: middle;
					// 2018-09-24 The `span` tags  are generated dynamically.
					> span.hcg-animation {
						background:
							url(../../../../../default/mobileshoppe/images/top-nav-border.jpg) repeat-x 0 110%
						;
						display: inline;
						padding-bottom: 50px;
						transition: background-position 300ms ease-out 0.1s;
						-moz-transition: background-position 300ms ease-out 0.1s;
						-o-transition: background-position 300ms ease-out 0.1s;
						-webkit-transition: background-position 300ms ease-out 0.1s;
						&:hover {background-position: 0 30%;}
						> span {display: inline;}
					}
				}
			}
		}
	}
}
.tp-revslider-mainul {overflow: inherit !important;}
#nav ul, #nav div {
	background: #fff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	left: -10000px;
	padding: 0;
	position: absolute;
	top: 77px;
	width: 15em;
	@media only screen and (max-width: 1024px) {top: 72px;}
}
@media only screen and (max-width: 375px) {
	.page > .row > .top_block > ul.links > li {
		padding: 3px 10px !important;
		&.first {border-left: 0;}
	}
}
#nav li.over a {color: #4a7c59;}
#nav a {display: block; text-decoration: none;}
@media only screen and (min-width: 866px) {
	#nav a:hover {color: #4a7c59; display: block; text-decoration: none;}
}
@media only screen and (max-width: 865px) {
	.page > .row .top_block {
		height: auto;
		> ul.top-contact {
			float: none;
			> li {
				width: 100%;
				padding-left: 0 !important;
				padding-right: 0 !important;
				text-align: right;
				p {margin-right: 9px;}
			}
		}
		> ul.links {
			float: none;
			display: table;
			width: 100%;
			> li {display: table-cell; text-align: center;}
		}
	}
	.header-container {
		//background: darkkhaki !important;
		padding-left: 8px;
		> .header {
			//background: azure;
			//overflow: hidden;
			//height: 91px !important;
			overflow: hidden;
			padding: 8px 0 !important;
			position: static;
			> .logo {
				margin-top: 0 !important;
				padding: 0;
				> a > img {
					//height: 52px !important; width: 125px !important;
					height: 91px !important; width: 220px !important;
				}
			}
			> .nav-container {
				display: table;
				height: 52px;
				> .hcg-mobile-menu-icon {
					//background: beige;
					cursor: pointer;
					display: block;
					float: right;
					margin-right: 12px;
					margin-top: 30px;
					vertical-align: middle;
					width: 24px;
					&:before {
						box-sizing: border-box;
						-webkit-font-smoothing: antialiased;
						color: rgba(0,0,0,0.6);
						content: '\f0c9';
						display: inline-block;
						float: right;
						font-size: inherit;
						font: normal normal normal 14px/1 FontAwesome;
						font-size: 28px;
						text-rendering: auto;
						transform: translate(0,0);
					}
				}
				> ul#nav {
					background: white;
					box-shadow: rgba(0,0,0,0.129412) 3px 3px 15px;
					display: none;
					margin-top: 100px;
					padding: 0;
					position: absolute;
					right: 2%;
					width: 90%;
					z-index: 101;
					> li {
						border-bottom: 1px solid rgba(0,0,0,0.08);
						display: block;
						float: none;
						height: auto;
						//line-height: 15px;
						padding: 16px 15px 14px 33.5px !important;
						text-align: left;
						&:last-child {border-bottom: 0; padding-bottom: 15px !important;}
						&.hcg-has-children.open {padding-bottom: 0 !important;}
						> a {
							display: block;
							line-height: 20px;
							i.fa {
								display: block;
								float: right;
								font-size: 20px;
								&:before {content: '\f146';}
								&.fa-angle-down:before {content: '\f0fe';}
								//&.fa-angle-up:before {content: '\f146';}
							}
						}
						//> ul {transition: max-height 1s ease-out;}
						> ul {
							box-shadow: none;
							max-height: 0;
							overflow: hidden;
							position: static;
							transition: max-height 0.25s ease-out;
							width: 100%;
							> li {
								padding: 20px 0 20px 2px;
								&:last-child {border-bottom: 0;}
							}
						}
						> ul.shown-sub {
							max-height: 1000px;
						}
					}
				}
			}
		}
	}
	body > .zsiq_floatmain {z-index: 40 !important;}
}
