@media only screen and (max-width: 767px) {
	.row {width: auto !important;}
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
	.row {width: auto !important;}
}
@import '_header';
.tp-revslider-mainul {overflow: inherit !important;}
#nav ul, #nav div {
	background: #fff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	left: -10000px;
	padding: 0;
	position: absolute;
	top: 77px;
	width: 15em;
	@media only screen and (max-width: 1024px) {top: 72px;}
}
@media only screen and (max-width: 375px) {
	.page > .row > .top_block > ul.links > li {
		padding: 3px 10px !important;
		&.first {border-left: 0;}
	}
}
#nav li.over a {color: #4a7c59;}
#nav a {display: block; text-decoration: none;}
@media only screen and (min-width: 866px) {
	#nav a:hover {color: #4a7c59; display: block; text-decoration: none;}
}
@import '_le-865';