<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @package    Richpanel_Analytics
 * @author     Shubhanshu Chouhan <shubhanshu@richpanel.com>
 */
 -->
<config>
    <modules>
        <Richpanel_Analytics>
            <version>2.0.0</version>
        </Richpanel_Analytics>
    </modules>
    <frontend>
    	<layout>
            <updates>
                <richpanel_analytics>
                    <file>richpanel_analytics.xml</file>
                </richpanel_analytics>
            </updates>
        </layout>
        <events>
            <customer_login>
                <observers>
                    <richpanel_login>
                        <type>singleton</type>
                        <class>Richpanel_Analytics_Model_Observer</class>
                        <method>customerLogin</method>
                    </richpanel_login>
                </observers>
            </customer_login>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <page_view>
                        <type>singleton</type>
                        <class>Richpanel_Analytics_Model_Observer</class>
                        <method>trackPageView</method>
                    </page_view>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <checkout_cart_product_add_after>
                <observers>
                    <add_to_cart>
                        <type>singleton</type>
                        <class>Richpanel_Analytics_Model_Observer</class>
                        <method>addToCart</method>
                    </add_to_cart>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <remove_from_cart>
                        <type>singleton</type>
                        <class>Richpanel_Analytics_Model_Observer</class>
                        <method>removeFromCart</method>
                    </remove_from_cart>
                </observers>
            </sales_quote_remove_item>
            <sales_order_place_after>
                <observers>
                    <place_order>
                        <type>singleton</type>
                        <class>Richpanel_Analytics_Model_Observer</class>
                        <method>trackNewOrder</method>
                    </place_order>
                </observers>
            </sales_order_place_after>
            <controller_action_postdispatch_checkout_cart_couponPost>
                <observers>
                    <applied_coupon>
                        <type>singleton</type>
                        <class>Richpanel_Analytics_Model_Observer</class>
                        <method>trackCoupon</method>
                    </applied_coupon>
                </observers>
            </controller_action_postdispatch_checkout_cart_couponPost>
        </events>
    </frontend>
    <global>
        <events>
            <sales_order_save_after>
                <observers>
                    <update_order>
                        <type>singleton</type>
                        <class>Richpanel_Analytics_Model_Observer</class>
                        <method>updateOrder</method>
                    </update_order>
                </observers>
            </sales_order_save_after>
        </events>
        <models>
            <richpanel_analytics>
                <class>Richpanel_Analytics_Model</class>
            </richpanel_analytics>
        </models>
    	<blocks>
            <richpanel_analytics>
                <class>Richpanel_Analytics_Block</class>
            </richpanel_analytics>
        </blocks>
        <helpers>
            <richpanel_analytics>
                <class>Richpanel_Analytics_Helper</class>
            </richpanel_analytics>
        </helpers>
    </global>
    <admin>
        <routers>
            <richpanel_analytics>
                <use>admin</use>
                <args>
                    <module>Richpanel_Analytics</module>
                    <frontName>richpanel_analytics</frontName>
                </args>
            </richpanel_analytics>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <richpanel_analytics>
                    <file>richpanel_analytics.xml</file>
                </richpanel_analytics>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <richpanel_analytics_settings>
            <settings>
                <enable>0</enable>
            </settings>
        </richpanel_analytics_settings>
    </default>
</config>
