<?xml version="1.0"?>
<config>
    <modules>
        <IWD_SettlementReport>
            <version>1.3.0</version>
        </IWD_SettlementReport>
    </modules>

    <global>
        <models>
            <iwd_settlementreport>
                <class>IWD_SettlementReport_Model</class>
                <resourceModel>iwd_settlementreport_resource</resourceModel>
            </iwd_settlementreport>
            <iwd_settlementreport_resource>
                <class>IWD_SettlementReport_Model_Resource</class>
                <entities>
                    <transactions>
                        <table>iwd_auth_payment_transaction</table>
                    </transactions>
                </entities>
            </iwd_settlementreport_resource>
        </models>

        <blocks>
            <iwd_settlementreport>
                <class>IWD_SettlementReport_Block</class>
            </iwd_settlementreport>
        </blocks>
        <helpers>
            <iwd_settlementreport>
                <class>IWD_SettlementReport_Helper</class>
            </iwd_settlementreport>
        </helpers>
        <resources>
            <iwd_settlementreport_setup>
                <setup>
                    <module>IWD_SettlementReport</module>
                </setup>
            </iwd_settlementreport_setup>
        </resources>
        <template>
            <email>
                <iwd_settlementreport_emailing_transaction_email module="iwd_settlementreport">
                    <label>IWD Settlement Report</label>
                    <file>iwd_settlement_report.html</file>
                    <type>html</type>
                </iwd_settlementreport_emailing_transaction_email>
            </email>
        </template>
        <events>
            <sales_order_payment_transaction_save_after>
                <observers>
                    <update_transaction_data>
                        <type>singleton</type>
                        <class>iwd_settlementreport/observer</class>
                        <method>updateTransactionAmount</method>
                    </update_transaction_data>
                </observers>
            </sales_order_payment_transaction_save_after>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iwd_settlementreport after="Mage_Adminhtml">IWD_SettlementReport_Adminhtml</iwd_settlementreport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <iwd_settlementreport>
                    <file>iwd_settlementreport.xml</file>
                </iwd_settlementreport>
            </updates>
        </layout>
    </adminhtml>

    <crontab>
        <jobs>
            <iwd_settlementreport_email_report>
                <!--<schedule><cron_expr>*/1 * * * *</cron_expr></schedule>-->
                <run><model>iwd_settlementreport/observer::emailReports</model></run>
            </iwd_settlementreport_email_report>
        </jobs>
    </crontab>

    <default>
        <iwd_settlementreport>
            <connection>
                <standard>1</standard>
            </connection>
            <default>
                <limit_period>1</limit_period>
                <last_days>7</last_days>
            </default>
            <emailing>
                <enable>0</enable>
                <last_days>3</last_days>
                <files>csv,xml</files>
            </emailing>
        </iwd_settlementreport>
    </default>
</config>