<?xml version="1.0"?>
<!--
/**
 * Activo Extensions
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Activo Commercial License
 * that is available through the world-wide-web at this URL:
 * http://extensions.activo.com/license_professional
 *
 * @copyright   Copyright (c) 2014 Activo Extensions (http://extensions.activo.com)
 * @license     OSL 3.0
 */
-->
<config>
    <modules>
        <Activo_Categoryurlseo>
            <version>2.0.0</version>
        </Activo_Categoryurlseo>
    </modules>
    
    <global>
        <helpers>
            <categoryurlseo>
                <class>Activo_Categoryurlseo_Helper</class>
            </categoryurlseo>
        </helpers>
        <models>
            <categoryurlseo>
                <class>Activo_Categoryurlseo_Model</class>
            </categoryurlseo>
            <catalog>
                <rewrite>
                    <url>Activo_Categoryurlseo_Model_Url</url>
                </rewrite>
            </catalog>
        </models>
    </global>
    <adminhtml>
<!-- 2024-01-22 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Prevent `Activo_Categoryurlseo` from spamming Magento backend": https://github.com/thehcginstitute-com/m1/issues/292 -->
         <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <activo_categoryurlseo>
                                            <title>SEO Friendly Category</title>
                                        </activo_categoryurlseo>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
               </admin>
           </resources>
        </acl>
    </adminhtml>
<!-- 2024-01-22 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"The `Activo_Categoryurlseo` module does not use its settings": https://github.com/thehcginstitute-com/m1/issues/293 -->
</config>
