<?xml version="1.0"?>
<!--
/**
 * @category   MagePsycho
 * @package    MagePsycho_Customerregfields
 * @author     Raj KB <magepsycho@gmail.com>
 * @website    http://www.magepsycho.com
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <MagePsycho_Customerregfields>
            <version>0.2.5</version>
        </MagePsycho_Customerregfields>
    </modules>
    <global>
        <models>
            <magepsycho_customerregfields>
                <class>MagePsycho_Customerregfields_Model</class>
            </magepsycho_customerregfields>
        </models>
		<resources>
			<magepsycho_customerregfields_setup>
				<setup>
					<module>MagePsycho_Customerregfields</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</magepsycho_customerregfields_setup>
		</resources>
        <blocks>
            <magepsycho_customerregfields>
                <class>MagePsycho_Customerregfields_Block</class>
            </magepsycho_customerregfields>
        </blocks>
        <helpers>
            <magepsycho_customerregfields>
                <class>MagePsycho_Customerregfields_Helper</class>
            </magepsycho_customerregfields>
        </helpers>
        <fieldsets>
            <customer_account>
                <group_id>
                    <create>1</create>
                    <update>1</update>
                </group_id>
                <mp_group_code>
                    <create>1</create>
                    <update>1</update>
                </mp_group_code>
            </customer_account>
        </fieldsets>
        <events>
            <customer_save_before>
                <observers>
                    <magepsycho_customerregfields_customer_save_before>
                        <type>singleton</type>
                        <class>magepsycho_customerregfields/observer</class>
                        <method>customerSaveBefore</method>
                    </magepsycho_customerregfields_customer_save_before>
                </observers>
            </customer_save_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <magepsycho_customerregfields>
                    <file>magepsycho_customerregfields.xml</file>
                </magepsycho_customerregfields>
            </updates>
        </layout>
        <translate>
            <modules>
                <MagePsycho_Customerregfields>
                    <files>
                        <default>MagePsycho_Customerregfields.csv</default>
                    </files>
                </MagePsycho_Customerregfields>
            </modules>
        </translate>
        <events>
            <controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <magepsycho_customerregfields_controller_action_postdispatch>
                        <type>singleton</type>
                        <class>magepsycho_customerregfields/observer</class>
                        <method>controllerActionPostdispatchCheckoutOnepageSaveBilling</method>
                    </magepsycho_customerregfields_controller_action_postdispatch>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
            <checkout_type_onepage_save_order>
                <observers>                    
                    <magepsycho_customerregfields_checkout_type_onepage_save_order>                                                
                        <type>singleton</type>                                                
                        <class>magepsycho_customerregfields/observer</class>                                                
                        <method>checkoutTypeOnepageSaveOrder</method>                                            
                    </magepsycho_customerregfields_checkout_type_onepage_save_order>
                </observers>
            </checkout_type_onepage_save_order>
            <sales_order_save_after>
                <observers>
                    <magepsycho_customerregfields_sales_order_save_after>
                        <type>singleton</type>
                        <class>magepsycho_customerregfields/observer</class>
                        <method>salesOrderSaveAfter</method>
                    </magepsycho_customerregfields_sales_order_save_after>
                </observers>
            </sales_order_save_after>
        </events>
    </frontend>
	<adminhtml>
		<translate>
			<modules>
				<MagePsycho_Customerregfields>
					<files>
						<default>MagePsycho_Customerregfields.csv</default>
					</files>
				</MagePsycho_Customerregfields>
			</modules>
		</translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <magepsycho_customerregfields_controller_action_predispatch>
                        <type>singleton</type>
                        <class>magepsycho_customerregfields/observer</class>
                        <method>adminhtmlControllerActionPredispatch</method>
                    </magepsycho_customerregfields_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <adminhtml_init_system_config>
                <observers>
                    <magepsycho_customerregfields_adminhtml_init_system_config>
                        <class>magepsycho_customerregfields/observer</class>
                        <method>adminhtmlInitSystemConfig</method>
                    </magepsycho_customerregfields_adminhtml_init_system_config>
                </observers>
            </adminhtml_init_system_config>
        </events>
	</adminhtml>
	<default>
        <magepsycho_customerregfields>
            <option>
				<active>0</active>
                <enable_log>0</enable_log>
                <domain_type>1</domain_type>
            </option>
            <group>
                <allowed_customer_groups>-1</allowed_customer_groups>
                <group_is_required>1</group_is_required>
                <group_selection_editable>0</group_selection_editable>
                <group_selection_checkout>0</group_selection_checkout>
                <group_selection_label>Group</group_selection_label>
                <customer_group_selection_type>1</customer_group_selection_type>
                <group_code_error_message>Please enter valid group code.</group_code_error_message>
            </group>
        </magepsycho_customerregfields>
    </default>
</config>