<?xml version='1.0'?>
<config>
	<modules>
<!-- 2024-06-02 Dmitrii Fediuk https://upwork.com/fl/mage2pro
"Implement `df_subscriber_c()`": https://github.com/thehcginstitute-com/m1/issues/626 -->
		<Df_Newsletter>
			<version>1.0.0</version>
			<author>Dmitrii Fediuk https://upwork.com/fl/mage2pro</author>
		</Df_Newsletter>
	</modules>
</config>