<?xml version="1.0" ?>
<!-- 
 /**
 * @category   Webkul
 * @package    Webkul_CustomField
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */  -->
<config>
    <modules>
        <Webkul_CustomField>
            <version>2.1.1</version>
        </Webkul_CustomField>
    </modules>
    <default>
        <customfield>
            <admin2>                
                <content_text_color>White</content_text_color>            
            </admin2>        
        </customfield>
        <customfield>
            <admin2>                
                <backgroud_color>Black</backgroud_color>            
            </admin2>        
        </customfield>
        <customfield>
            <admin2>                
                <header_text_color>white</header_text_color>           
            </admin2>        
        </customfield>
    </default>
    <system>
    </system>
	<frontend>
        <layout>
            <updates>
                <customfield>
                    <file>customfield.xml</file>
                </customfield>
            </updates>
        </layout>
        <routers>
            <customfield>
                <use>standard</use>
                <args>
                    <module>Webkul_CustomField</module>
                    <frontName>customfield</frontName>
                </args>
            </customfield>
        </routers>
        <translate>
            <modules>
                <webkul_customfield>
                    <files>
                        <customfield>Webkul_CustomField.csv</customfield>
                    </files>
                </webkul_customfield>
            </modules>
        </translate>
    </frontend>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <webkul_customfield before="Mage_Adminhtml">Webkul_CustomField_Adminhtml</webkul_customfield>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <translate>
            <modules>
                <webkul_customfield>
                    <files>
                        <customfield>Webkul_CustomField.csv</customfield>
                    </files>
                </webkul_customfield>
            </modules>
        </translate>
    </admin>    
	<adminhtml> 
        <layout>
            <updates>
                <customfield>
                    <file>customfield.xml</file>
                </customfield>
            </updates>
        </layout>
	</adminhtml> 
    <global>	
		<helpers>
            <customfield>
                <class>Webkul_CustomField_Helper</class>
            </customfield>
        </helpers>
        <blocks>  
            <customfield>  
                <class>Webkul_CustomField_Block</class>
            </customfield>
        </blocks>
		<resources>
            <customfield_setup>
                <setup>
                    <module>Webkul_CustomField</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customfield_setup>
            <customfield_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customfield_write>
            <customfield_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customfield_read>
        </resources>
		<models>
            <customfield>
                <class>Webkul_CustomField_Model</class>
                <resourceModel>customfield_mysql4</resourceModel>
            </customfield>
            <customfield_mysql4>
                <class>Webkul_CustomField_Model_Mysql4</class>
                <entities>
                    <customfields>
                        <table>wk_customerfields</table>
                    </customfields>
					<customfielddata>
                        <table>wk_customfields</table>
                    </customfielddata>
                </entities>
            </customfield_mysql4>
        </models>
		<events>
            <core_copy_fieldset_customer_account_to_quote>
                <observers>
                   <Webkul_CustomField_Model_Observer>
                      <type>singleton</type>
                        <class>Webkul_CustomField_Model_Observer</class>
                        <method>beforeCustomerRegisterQuote</method>
                   </Webkul_CustomField_Model_Observer>
               </observers>
            </core_copy_fieldset_customer_account_to_quote>
            <checkout_type_onepage_save_order_after>
                <observers>
                   <Webkul_CustomField_Model_Observer>
                      <type>singleton</type>
                        <class>Webkul_CustomField_Model_Observer</class>
                        <method>afterOrderPlace</method>
                   </Webkul_CustomField_Model_Observer>
               </observers>
            </checkout_type_onepage_save_order_after>
            <customer_save_before>
                <observers>
                   <Webkul_CustomField_Model_Observer>
                      <type>singleton</type>
                        <class>Webkul_CustomField_Model_Observer</class>
                        <method>beforeCustomerRegister</method>
                   </Webkul_CustomField_Model_Observer>
               </observers>
            </customer_save_before>
            <customer_register_success>
                <observers>
                   <Webkul_CustomField_Model_Observer>
                      <type>singleton</type>
                        <class>Webkul_CustomField_Model_Observer</class>
                        <method>CustomerRegister</method>
                   </Webkul_CustomField_Model_Observer>
               </observers>
            </customer_register_success>
            <adminhtml_customer_save_after>
                <observers>
                    <Webkul_CustomField_Model_Observer>
                        <type>singleton</type>
                        <class>Webkul_CustomField_Model_Observer</class>
                        <method>afterSaveCustomer</method>
                    </Webkul_CustomField_Model_Observer>
               </observers>
            </adminhtml_customer_save_after>
            <customer_login>
                <observers>
                    <Webkul_CustomField_Model_Observer>
                        <type>singleton</type>
                        <class>Webkul_CustomField_Model_Observer</class>
                        <method>loadBeforeCustomer</method>
                    </Webkul_CustomField_Model_Observer>
               </observers>
            </customer_login>
            <controller_action_predispatch_customer_account_create>
                <observers>
                    <Webkul_CustomField_Model_Observer>
                        <type>singleton</type>
                        <class>Webkul_CustomField_Model_Observer</class>
                        <method>loadBeforeCustomer</method>
                    </Webkul_CustomField_Model_Observer>
               </observers>
            </controller_action_predispatch_customer_account_create>	
            <adminhtml_customer_prepare_save>
                <observers>
                    <Webkul_CustomField_Model_Observer>
                        <type>singleton</type>
                        <class>Webkul_CustomField_Model_Observer</class>
                        <method>loadBeforeCustomer</method>
                    </Webkul_CustomField_Model_Observer>
               </observers>
            </adminhtml_customer_prepare_save>		
		</events>
    </global>
</config>