<?xml version="1.0"?>
<config>
    <tabs>
        <myconf translate="label" module="displaycvv">
            <label>INT Web Solutions</label>
            <sort_order>151</sort_order>
            <class>myconf</class>
        </myconf>
    </tabs>
    <sections>
        <cvv translate="label" module="displaycvv">
            <label>Display Credit Card CVV</label>
            <tab>myconf</tab>
            <frontend_type>text</frontend_type>
            <sort_order>25</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <group_displaycvv translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                      <displaycvv_select translate="label">
                        <label>Enable Display Credit Card CVV</label>
                        <comment>Enable/Disable Display Credit Card CVV Extension.</comment>
                        <frontend_type>select</frontend_type>
                        <sort_order>10</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                      </displaycvv_select>
                    </fields>
                </group_displaycvv>
            </groups>
        </cvv>
    </sections>
</config>