<?xml version='1.0'?>
<config>
	<modules>
<!-- 2024-05-11 "Port `df_design()` from `mage2pro/core`": https://github.com/thehcginstitute-com/m1/issues/598 -->
		<Df_Theme>
			<version>1.0.0</version>
			<author>Dmitrii Fediuk https://upwork.com/fl/mage2pro</author>
		</Df_Theme>
	</modules>
</config>