<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <IWD_AdminCheckout>
            <version>1.0.1</version>
        </IWD_AdminCheckout>
    </modules>

    <global>
        <blocks>
            <iwd_admin_checkout>
                <class>IWD_AdminCheckout_Block</class>
            </iwd_admin_checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_create_form>IWD_AdminCheckout_Block_Adminhtml_Sales_Order_Create_Form</sales_order_create_form>
                    <sales_order_create_data>IWD_AdminCheckout_Block_Adminhtml_Sales_Order_Create_Data</sales_order_create_data>
                    <sales_order_create_search_grid_renderer_product>IWD_AdminCheckout_Block_Adminhtml_Sales_Order_Create_Search_Grid_Renderer_Product</sales_order_create_search_grid_renderer_product>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <iwd_admin_checkout>
                <class>IWD_AdminCheckout_Helper</class>
            </iwd_admin_checkout>
        </helpers>
        <models>
            <iwd_admin_checkout>
                <class>IWD_AdminCheckout_Model</class>
            </iwd_admin_checkout>
        </models>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iwd_admin_checkout after="Mage_Adminhtml">IWD_AdminCheckout_Adminhtml</iwd_admin_checkout>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>IWD_AdminCheckout.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <iwd_admin_checkout_check_related>
                        <type>singleton</type>
                        <class>iwd_admin_checkout/observer</class>
                        <method>checkRequiredModules</method>
                    </iwd_admin_checkout_check_related>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_adminhtml_sales_order_create_loadBlock>
                <observers>
                    <iwd_admin_checkout_create_order_predispatch>
                        <class>iwd_admin_checkout/observer</class>
                        <method>beforeOrderCreateLoadBlock</method>
                    </iwd_admin_checkout_create_order_predispatch>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_loadBlock>
            <create_order_session_quote_initialized>
                <observers>
                    <iwd_admin_checkout_create_order_session>
                        <class>iwd_admin_checkout/observer</class>
                        <method>initQuoteAddress</method>
                    </iwd_admin_checkout_create_order_session>
                </observers>
            </create_order_session_quote_initialized>
        </events>
        <layout>
            <updates>
                <iwd_admin_checkout>
                    <file>iwd_admin_checkout.xml</file>
                </iwd_admin_checkout>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <iwd_ordermanager>
            <crate_process>
                <enable>1</enable>
            </crate_process>
        </iwd_ordermanager>
    </default>
</config>